<!-- templates/config.html -->
{% extends "base.html" %}

{% block content %}
<table>
        <thead>
            {% for row in data %}
                {% if loop.first %}
                    <tr>
                        {% for heading in row %}
                            <th>{{ heading }}</th>
                        {% endfor %}
                    <tr/>
                {% endif %}
            {% endfor %}
        </thead>
        <tbody>
            {% for row in data %}
                {% if loop.index > 1 %}
                    <tr>
                        {% for val in row %}
                            <td>{{ val }}</td>
                        {% endfor %}
                    <tr/>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>
<form id="login">
    <input placeholder="username" required type=text name="username">
    <input placeholder="password" required type=password name="password">
    <button hx-post="/login" hx-trigger="click">Login</button>
</form>
{% endblock %}
