<!-- templates/config.html -->
{% extends "base.html" %}

{% block content %}
<table>
    {% for row in data %}
        {% if loop.first %}
            <thead>
                <tr>
                    {% for heading in row %}
                        <th>{{ heading }}</th>
                    {% endfor %}
                <tr/>
            </thead>
        {% else %}
            {% if loop.index == 2 %}
                <tbody>
            {% endif %}
            <tr>
                {% for val in row %}
                    <td>{{ val }}</td>
                {% endfor %}
            <tr/>
            {% if loop.last %}
                </tbody>
            {% endif %}
        {% endif %}
    {% endfor %}
</table>

<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }

    .settings {
        display: none;
    }

    #check:checked ~ .settings {
        display: block;
    }

    #hamburger {
        width: 100px;
        float: right;
        top: 50%;
        bottom: 50%;
    }
</style>
{% endblock %}
