{% block content %}
<tr>
    <form>
        <td>
            <input type="text" value="{{ key }}" name="mac"></input>
        </td>
        {% for (val, name) in row %}
            <td>
                <input type="text" value="{{ val }}" name="{{ name }}"></input>
            </td>
        {% endfor %}
    </form>
    <td>
        <button hx-put="/row/{{ panel }}/{{ key }}" hx-include="closest tr" hx-target="closest tr" hx-swap="outerHTML">Save</button>
        <button hx-get="/row/{{ panel }}/{{ key }}" hx-target="closest tr" hx-swap="outerHTML">Cancel</button>
    </td>
</tr>
{% endblock %}
