<!-- templates/landing.html -->
{% extends "base.html" %}

{% block content %}
<h1>Dashboard</h1>

<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>

<table>
    <thead>
        <tr>
            <th>Trolley</th>
            <th>Device Name</th>
            <th>Mac</th>
            <th>BSSID</th>
            <th>Location</th>
            <th>Ping</th>
        </tr>
    </thead>
    <tbody>
    {% for piece in data %}
        <tr>
            <td>{{piece.trolley}}</td>
            <td>{{piece.device_name}}</td>
            <td>{{piece.mac}}</td>
            <div>
                <td>{{piece.bssid}}</td>
                <td>{{piece.location}}</td>
            </div>
            <td>
                {# targets the location data and updates it with the newest information#}
                <button hx-target="closest div" hx-swap="innerHTML" hx-trigger="click" hx-get="ping/{{piece.mac}}">Ping</button>
            </td>
        <tr/>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
